In [1]:
from pandas import Series, DataFrame
import config
import mysql.connector
from datetime import datetime
from mysql.connector import errorcode

In [2]:
#SQL credentials. Store in config file.

sql_host = config.sql_host
sql_user = config.sql_user
sql_password = config.sql_password

In [3]:
# Returns tuple for each sql row.
def selectlast(granularity, time, rows):
    
    sql = ("SELECT * FROM (SELECT * FROM {} WHERE time <= '{}' "
           "ORDER BY time DESC LIMIT {})a ORDER BY time ASC;".format(granularity, time, rows))
    cnx = mysql.connector.connect(user=sql_user, password=sql_password,
                             host=sql_host, database='USDJPY')
    cursor = cnx.cursor()
    cursor.execute(sql)
    results = cursor.fetchall()
    cursor.close()
    cnx.close()
    return results;

In [4]:
# Create dataframe from sql query result
def dataframe(sqltable):
    names = ['time', 'openAsk', 'closeAsk', 'lowAsk', 'highAsk', 'openBid', 'closeBid', 'lowBid', 'highBid', 'volume']
    df = DataFrame(sqltable, columns = names)
    df.set_index('time', inplace=True)
    return df

In [5]:
# Adds simple moving average to dataframe
def add_sma(df, val):
    df['SMA{}'.format(val)] = df['openBid'].rolling(window=val).mean()

In [6]:
df = dataframe(selectlast('H3', datetime.utcnow().strftime('%Y-%m-%d %H:%M:%S'), 20))
add_sma(df, 3)
add_sma(df, 10)
df

,openAsk,closeAsk,lowAsk,highAsk,openBid,closeBid,lowBid,highBid,volume,SMA3,SMA10
time,,,,,,,,,,,
2017-02-08 10:00:00,112.342,112.021,111.993,112.392,112.327,112.007,111.978,112.377,4284,NaN,NaN
2017-02-08 13:00:00,112.022,111.769,111.639,112.063,112.007,111.755,111.625,112.049,12750,NaN,NaN
2017-02-08 16:00:00,111.767,112.160,111.673,112.228,111.753,112.146,111.658,112.212,9155,112.029000,NaN
2017-02-08 19:00:00,112.164,111.944,111.913,112.187,112.148,111.921,111.895,112.175,3272,111.969333,NaN
2017-02-08 22:00:00,111.993,112.013,111.758,112.115,111.912,111.997,111.717,112.092,5456,111.937667,NaN
2017-02-09 01:00:00,112.014,112.115,112.014,112.353,111.996,112.101,111.995,112.329,5125,112.018667,NaN
2017-02-09 04:00:00,112.115,112.294,112.093,112.311,112.100,112.277,112.079,112.297,3382,112.002667,NaN
2017-02-09 07:00:00,112.295,112.248,112.164,112.436,112.277,112.234,112.150,112.421,5837,112.124333,NaN
2017-02-09 10:00:00,112.248,112.364,112.224,112.481,112.235,112.350,112.211,112.467,3731,112.204000,NaN
2017-02-09 13:00:00,112.363,112.991,112.241,113.203,112.350,112.971,112.224,113.188,15424,112.287333,112.1105
2017-02-09 16:00:00,112.992,113.142,112.948,113.308,112.976,113.127,112.933,113.292,7956,112.520333,112.1754
2017-02-09 19:00:00,113.140,113.267,113.103,113.356,113.126,113.230,113.087,113.342,3331,112.817333,112.2873
2017-02-09 22:00:00,113.300,113.703,113.257,113.751,113.227,113.688,113.205,113.733,6680,113.109667,112.4347
2017-02-10 01:00:00,113.705,113.691,113.557,113.812,113.689,113.677,113.542,113.794,5030,113.347333,112.5888
2017-02-10 04:00:00,113.695,113.727,113.626,113.796,113.681,113.710,113.610,113.782,3022,113.532333,112.7657
2017-02-10 07:00:00,113.727,113.659,113.535,113.871,113.708,113.645,113.521,113.852,6497,113.692667,112.9369
2017-02-10 10:00:00,113.661,113.573,113.372,113.713,113.645,113.558,113.357,113.698,4572,113.678000,113.0914
2017-02-10 13:00:00,113.569,113.586,113.372,113.748,113.554,113.572,113.357,113.731,9480,113.635667,113.2191
2017-02-10 16:00:00,113.584,113.434,112.874,113.635,113.570,113.416,112.843,113.621,13521,113.589667,113.3526
2017-02-10 19:00:00,113.437,113.277,113.175,113.566,113.419,113.177,113.134,113.548,5447,113.514333,113.4595

In [ ]:
# Use for analysis
def add_state(df):
    state = 'Above'
    for i in df.index:
        if df.ix[i, 'SMA3'] < df.ix[i, 'SMA10']:
            state = 'Below'
        else:
            state = 'Above'

        df.ix[i, 'State'] = state

In [ ]:
# Use for analysis
def rearrange_cols(df):
    return df[['time', 'openAsk', 'lowAsk', 'highAsk', 'closeAsk', 'openBid', 'lowBid', 'highBid',
             'closeBid', 'SMA3', 'SMA10', 'State',]]

In [ ]:
# change to work with json data

def crosses(df):
    crosses = 0

    for i in df.index[20:]:
        if check_trend(df, i):
            if df.ix[i-1,'State'] == 'Below' and df.ix[i, 'State'] == 'Above' : # True when SMA3 crosses over SMA10
                diff = ((df.ix[i, 'SMA10'] - df.ix[i-15, 'SMA10']) / df.ix[i, 'SMA10']) * 100
                spread = (df.ix[i, 'openAsk'] - df.ix[i, 'openBid']) *100
                print('{} at {} {}, Spread: {}'.format(
                        round(diff, 6), df.ix[i, 'time'],df.ix[i, 'date'], round(spread ,9)))
                crosses += 1

    print('Crossed above {} times.'.format(crosses))