In [1]:
import config
import event
import handler
import strategy
import portfolio
import risk
import analysis as an
from datetime import datetime


#SQL & API credentials. Store in config file.

access_token = config.access_token
account_id = config.account_id

sql_host = config.sql_host
sql_user = config.sql_user_analysis
sql_password = config.sql_password_analysis

In [2]:
dh = handler.DataHandler()
queue = event.EventQueue()
strategy = strategy.Strategy()
risk = risk.Risk('USDJPY', 2, 2)
portfolio = portfolio.Portfolio()

In [3]:
queue.add_to_queue(dh.get_single_rate(n = 7))

In [4]:
while len(queue.queue) != 0:
    next_event = queue.next_event()
    
    if next_event.type == 'tick':
        #Call strategy
        queue.add_to_queue(strategy.generate_signal(next_event))
        print('Tick Event Popped')

    elif next_event.type == 'signal':
        # If signal requires, call risk
        if next_event.signal != 'none':
            queue.add_to_queue(risk.calculate_risk(next_event))
            print('Signal Event Popped')

    elif next_event.type == 'trade':
        #Call portfolio
        print('Trade Event Popped')

    elif next_event.type == 'order':
        #Call execution
        print('Order Event Popped')

    elif next_event.type == 'fill':
        #Wait in execution function until response received
        #Call portfolio
        print('Fill Event Popped')

    else:
        print('Queue Error')

Tick Event Popped
Signal Event Popped
Trade Event Popped

In [5]:
len(queue.queue)

0

In [6]:
print(next_event.time)
print(next_event.signal)
print(next_event.sl)
print(next_event.tp)
next_event.price

2017-05-30 01:02:00
sell
111.286
111.086

{'ask': 111.196, 'bid': 111.21600000000001}

In [7]:
risk.position_size_calculator(500, .01, 'buy', next_event.price, 111.286)

500.0

In [8]:
risk.margin_requirement(500, .02)

10.0

In [9]:
next_event.pip_stop_loss

7.0

In [10]:
portfolio.balance

'500.0000'

In [11]:
next_event.df

,time,open,high,low,close,SMA3,SMA7,State
0,2017-05-29 23:30:00,111.2095,111.2640,111.2010,111.2615,NaN,NaN,NA
1,2017-05-29 23:45:00,111.2620,111.2620,111.2325,111.2335,NaN,NaN,NA
2,2017-05-30 00:00:00,111.2385,111.2630,111.2075,111.2615,111.236667,NaN,NA
3,2017-05-30 00:15:00,111.2620,111.2865,111.2415,111.2640,111.254167,NaN,NA
4,2017-05-30 00:30:00,111.2630,111.2815,111.1980,111.2040,111.254500,NaN,NA
5,2017-05-30 00:45:00,111.2075,111.2435,111.1630,111.1915,111.244167,NaN,NA
6,2017-05-30 01:00:00,111.1910,111.2180,111.1475,111.2060,111.220500,111.233357,Below

In [12]:
next_event.threehrdf

,time,open,high,low,close,SMA2,SMA7,State
0,2017-05-29 07:00:00,111.3055,111.4030,111.2310,111.3500,NaN,NaN,NA
1,2017-05-29 10:00:00,111.3505,111.3970,111.3000,111.3405,111.32800,NaN,NA
2,2017-05-29 13:00:00,111.3410,111.3660,111.2650,111.2890,111.34575,NaN,NA
3,2017-05-29 16:00:00,111.2895,111.3340,111.2675,111.3060,111.31525,NaN,NA
4,2017-05-29 19:00:00,111.3050,111.3785,111.2345,111.2585,111.29725,NaN,NA
5,2017-05-29 22:00:00,111.2520,111.3350,111.1630,111.1915,111.27850,NaN,NA
6,2017-05-30 01:00:00,111.1910,111.2285,110.7715,110.8420,111.22150,111.290643,Below